*{padding: 0; margin: 0;}
        .wrapper{
            width: 900px;
            min-height: 400px;
            background-color:whitesmoke;
            border: 5px solid black;
            margin: 0 auto;
            /* border: 30px solid #73AD21; */
        }
        header{
            width: auto;
            min-height: 100px;
            background-color:thistle;
            position: relative;

        }
        header .logo{
            background-color: yellowgreen;
            height: 100px;
            width: 100px;
            color: black;
            float: left;
        }
        
        header .slogan{
            background-color:cadetblue;
            height: 100px;
            width: 800px;
            color: black;
            float: left;

        }
        header .topbar{
            background-color: blueviolet;
            height: 50px;
            width: 300PX;
            color: black;
            position:absolute;
            top: 0;
            right: 0;
            z-index: 1;
             
        }header .topbar2{
            background-color: rgb(214, 125, 9);
            height: 50px;
            width: 230PX;
            color: black;
            position:absolute;
            top: 0;
            right: 0;
            
        } 

        header .menu{
            background-color: teal;
            width: auto;
            padding: 7.5px 0;
            color: black;
            clear: both;
        }
        header .menu ul{
            list-style-type: none;
            margin: 0;
        }

        header .menu ul li{
            display: inline-block;
        }
        header .menu ul li a{
            padding: 7.5px 10px;
            display: block;
            text-decoration: none;
            color: white;

        }
        .mainbody{
            margin-top: 1px;
            width: auto;
            min-height: 400px;
            background-color: chartreuse;
            overflow: auto;
        }
        .mainbody .sidebar{
            background-color: turquoise;
            width: 220px;
            height:400px;
            float: left;

        }
        .mainbody .content{
            background-color: tomato;
            width: 680px;
            min-height: 500px;
            float: left;
            /* opacity: .; */
        }
        
        footer{
            background-color: yellow;
            height: 100px;
            clear: both;
        }
