@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
// $fontr: 
// @font-face{
//     font-family: myfont;
//     src: url(fonts/PTSerif-Regular.ttf);
// }

/*------Universal CSS------*/
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0px;

}


/*------common css------*/
$color: #F63F0E;
$font: 'PT Serif', serif;

.fz-0{
    font-size: 15px;
}
.fz-1{
    font-size: 18px;
}
.fz-2{
    font-size: 50px;
}
.fz-3{
    font-size: 80px;
}
.fz-4{
    font-size: 120px;
}
.fz-{
    font-size: 240px;
}

.txt-tomato{
    color: $color;
}
.font-pt{
    font-family: $font;
}


/*----page css----*/
.wrapper{
    height: 100%;
    position: relative;
}
header{
    position: absolute;
    z-index: 10001;
    width: 100%;
    .navbar ul li a{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .navbar ul li a:last-child{
        margin-right: 0 !important;
    }
}

.banner{
    background: url("images/mt-883_home_bg-1.jpg");
    position: relative;
    background-size: cover;
    img{
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    // .habr{
    //     border-left: 15px solid $color;
    //     border-right: 15px solid $color;
    //     min-height: 100px;
    // }


}