html, body{
    margin: 0;
    padding: 0;
    height: 100%;

}
.text_light{
    color: white;
}
.fz_1{
    font-size: 50pt;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.wrapper{
    width: 100%;
    overflow-x: hidden;
    header{
        width: 100%;
        margin: 0;
        padding-top: 20px;
        position: relative;
        // background: red;

        .menubar{            
            width: calc(100% - 40px);
            margin: 0 auto;
            display: flex;
            align-items: center;
            padding: 0;
            // background: green;
            .logo{
                width: 250px;
                float: left;
                h1{
                    margin: 0;
                    padding: 0;
                }
            }
    
            .menus{
                width: calc(100% - 250px);
                float: left;
                ul{
                    padding: 0;
                    margin: 0;
                    list-style-type: none;
                    text-align: right;
                    li{
                        display: inline-block;
    
                        a{
                            color: white;
                            display: block;
                            text-decoration: none;
                            padding: 15px;
                            margin: 15px;
                            font-weight: bolder;
                        }
                    }
                }
            }
        }
    
    }
    
    .mainbody{
        .banner{
            width: 100%;
            height: 700px;
            background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url("images/cover.jpg");
            background-size: cover;
            background-position: center;
            margin-top: -100px;
            .text_box{
                color: white;
                text-align: center;
                width: calc(100% - 50%);
                // background: yellow;
                margin: 0 auto;
                position: relative;
                top: 50%;
                transform: translatey(-50%);
                h1{
                    font-size: 50pt;
                    margin: 0;
                }
                h4{
                    margin: 0;
                    font-size: larger;
                    margin-bottom: 70px;
                    a{
                        color: #999999;
                        text-decoration: underline;
                        border: none;
                        padding: 0;
                        
                    }
                    a:hover{
                        background: none;
                        color: white;
                    }
                }
                a{
                    color: white;
                    text-decoration: none;
                    padding: 20px 40px;
                    border: solid white;
                    border-radius: 5px;
                    transition: all .5s ease-in-out;
                    // :hover{
                    //     background: white;
                    //     color: black;
                    // }
                }
                a:hover{
                    background: white;
                    color: black;
                }
                
            }
        }

        .welcome{
            margin-top: 130px;
            margin-bottom: 130px;
            display: flex;
            align-items: center;
            // background: yellow;
            .left .right{
                width: 50%;
            }
            
            .left img{
                width: 100%;
                border-radius: 35px;
                // background: red;
                // padding: 100px;
            }
            .right{
                padding: 100px;
                // background: green;
                h2{
                    font-size: 25pt;
                }
                p{
                    font-size: large;
                }
                a{
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    color: #65C0BA;
                    font-size: larger;
                    font-weight: bolder;
                    margin-top: 0;
                }
            }
        }

        .experiance{
            // margin-top: 130px;
            // margin-bottom: 130px;
            padding-top: 130px;
            padding-bottom: 130px;
            border-top: solid 1px #ddd;
            border-bottom: solid 1px #ddd;
            background: #FAFAFA;
            // background: red;
            .heading{
                text-align: center;
                width: 600px;
                margin: 0 auto;
                // background: yellow;
                h2{
                    font-size: 25pt;
                }
                p{
                    font-size: large;
                }
            }
            .x_row{
                display: flex;
                align-items: center;
                // background: blue;
                margin-bottom: 30px;
                .card{
                    // background: green;
                    text-align: center;
                    padding: 40px;
                    margin-left: 15px;
                    margin-right: 15px;
                    width: calc(100% / 3);
                    img{
                        width: 70px;
                    }
                }
                .card:first-child{
                    margin-left: 0;
                }
                .card:last-child{
                    margin-right: 0;
                }
            }
            .x_row:last-child{
                margin-bottom: 0;

            }
        }
        .management{
            margin-top: 130px;
            margin-bottom: 130px;

            .heading{
                text-align: center;
                width: 600px;
                margin: 0 auto;
                // background: yellow;
                p{
                    font-size: large;
                    color: black;
                }
                
            }
            .img_box{
                margin: 0 auto;
                img{
                    width: 100%;
                }
            }
        }
        .blogpost{
            background: #65C0BA;
            // padding-top: 200px;
            padding-bottom: 200px;
            position: relative;
            margin: 0 auto;
            .heading{
                text-align: center;
                width: 600px;
                margin: 0 auto;


            }
            .blog_row{
                display: flex;
                align-items: center;
                .card{
                    background: white;
                    text-align: center;
                    margin-left: 15px;
                    margin-right: 15px;
                    img{
                        width: 100%;
                    }
                    .card:first-child{
                        margin-left: 0;
                    }
                    .card:last-child{
                        margin-right: 0;
                    }
                    .text_box{
                        padding: 30px;
                    }
                }
            }
        }
        .blogpost::before{
            content: "";
            position: absolute;
            top: 0;
            width: 150%;
            height: 600px;
            left: 50%;
            background: #65C0BA;
            z-index: -1;
            transform: rotate(-4deg) translateX(-50%) translateY(-100%);
        }

        .customers{
            padding-top: 130px;
            padding-bottom: 130px;
            background: #FAFAFA;
            .heading{
                text-align: center;
                width: 600px;
                margin: 0 auto;
                // background: yellow;
                p{
                    font-size: large;
                    color: black;
                }
                
            }
            .cus_row{
                display: flex;
                align-items: center;
                // background: blue;
                margin-bottom: 30px;
                .card{
                    // background: green;
                    text-align: left;
                    padding: 40px;
                    margin-left: 15px;
                    margin-right: 15px;
                    width: calc(100% / 3);
                    img{
                        width: 70px;
                        border-radius: 50%;
                    }
                }
                .card:first-child{
                    margin-left: 0;
                }
                .card:last-child{
                    margin-right: 0;
                }
            }
        }
        .destinaton{
            margin-top: 130px;
            margin-bottom: 130px;
            background: white;
            .heading{
                text-align: center;
                width: 600px;
                margin: 0 auto;
                // background: yellow;
                p{
                    font-size: large;
                    color: black;
                }
                
            }
            .des_row{
                display: flex;
                align-items: center;
                // background: blue;
                margin-bottom: 30px;
                .card{
                    // background: green;
                    text-align: left;
                    padding: 2px;
                    margin-left: 15px;
                    margin-right: 15px;

                    width: calc(100% / 4);
                    img{
                        width: 100%;
                    }
                    .star{
                        display: flex;
                        align-items: flex-end;
                        h3{
                            margin: 0;
                            margin-right: 15px;

                        }
                    }
                }
                .card:first-child{
                    margin-left: 0;
                }
                .card:last-child{
                    margin-right: 0;
                }
            }
        }
        
    }
    footer{
        padding-top: 100px;
        padding-bottom: 100px;
        background: #333333;
        color: white;
        .f_top{
            margin-bottom: 40px;
            .f_row{
                display: flex;
                align-items: center;
                // background: blue;
                .card{
                    width: calc(100% / 4);
                    text-align: left;
                    padding: 2px;
                    // margin-left: 15px;
                    // margin-right: 15px;
                    ul{
                        align-items: left;
                        margin: 0;
                        padding: 0;
                        li{
                            list-style-type: none;
                            a{
                                color: white;
                                text-decoration: none;
                            }
                        }
                    }
                    
                }
            }
        }
        .f_bottom{
            margin-top: 40px;
           text-align: center;
           p{
               a{
                   text-decoration: none;
                   color: white;
               }
           }
        }
    }
    

}

